name: Release image

on:
  push:
    tags:
      - 'v*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push_to_registries:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    name: Push image to both registries
  
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.FLYIOBUILDS_DOCKERHUB_USERNAME }}
          password: ${{ secrets.FLYIOBUILDS_DOCKERHUB_TOKEN }}

      # Login to GitHub Container Registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Generate metadata for Docker Hub
      - name: Meta data for Docker Hub
        id: meta-dockerhub
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: flyio/log-shipper

      # Generate metadata for GHCR
      - name: Meta data for GHCR
        id: meta-ghcr
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push to both registries
      - name: Build and push to both registries
        id: build
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: |
            ${{ steps.meta-dockerhub.outputs.tags }}
            ${{ steps.meta-ghcr.outputs.tags }}
          labels: |
            ${{ steps.meta-dockerhub.outputs.labels }}
            ${{ steps.meta-ghcr.outputs.labels }}
